*.o
*.exe
Release\*
Release\genetic-.82203B20.tlog\*
Debug\*
Debug\genetic-.82203B20.tlog\*
Release
Debug
ipch
ipch\*
ipch\GENETIC-OPTIMIZATION-13caae55\*
x64
x64\*
x64\
*.sln
*.db
*.vc*
stdafx.cpp
stdafx.h
targetver.h
*.tmp